* {
  font-family: Inter;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
